$layout-bg: var(--layout-bg, #fff);
$layout-color: var(--layout-color, #000);
$loader-bg: var(--loader-bg, #000);
$loader-border: var(--loader-border, #fff);
$article-bg: var(--article-bg, #fff);
$article-title: var(--article-title, #000);
$article-description: var(--article-description, #666);
$article-border: var(--article-border, #000);
