.tileListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;

  > * {
    flex: 1 0 calc(100% - 1rem);
  }

  > *:nth-child(even) {
    min-width: 150px;
    max-width: 250px;
  }

  > *:nth-child(odd) {
    min-width: 150px;
    max-width: 400px;
  }
}
